nav.navbar-top {
    padding: 2px;
    font-size: 14px;
    background-color: #FEFEFE;
}

nav.navbar-top .nav.navbar-nav>li>a {
    padding-top: 2px !important;
    padding-bottom: 0 !important;
    height: 26px;
}

.navbar {
    min-height: 28px !important;
}

a.sign-in-link {
    color: #FFFFFF !important;
}

nav.navbar-top .nav.navbar-nav ul li {
    margin: 0px;
}

nav.navbar-primary {
    padding: 36px;
    font-size: 24px;
}

div.navbar-brand {
    font-size: 28px;
    padding: 18px;
}